.jumbotron{
    background-color: lightgrey !important;
}

.display-6 {
    text-align: center !important;
}

h4 {
    text-align: center !important;
}

div {
    text-align: center;
}


@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}